@tailwind base;
@tailwind components;
@tailwind utilities;

html, body * {
  scroll-behavior: smooth !important;
}

.dark-bg{
  background-color: #1B1B1B;
}

.light-bg{
  background-color: #fcf9f0;
}

.rdrDefinedRangesWrapper {
  width: 0px !important;
}